@mixin aliyun-basestyle-list-radius {
  -webkit-border-top-left-radius:20px 10px;
  -webkit-border-top-right-radius:20px 10px;

}
@mixin aliyun-contact-list {
  #contacts-list {
    background-color:#000000;
  }
  .x-list-item-body .contact strong {
    font-size: 30pt;
  }
  .x-list-header {
    @include aliyun-basestyle-list-radius;
    background-color:#E7EAEB;
    background-image:none;
    color:#808080;
    font-size:16pt;
    -webkit-box-shadow:inset 0px 0px .3em rgba(0, 0, 0, 0.3);
    padding-bottom:.5em;
  }
  .x-list-group-items {
    background-color:#f2f4f5;
    @include aliyun-basestyle-list-radius;
    margin-top:-.5em;
    -webkit-box-shadow:0px 0px .3em rgba(0, 0, 0, 0.3);
  }
  .x-list-item {
    margin:0 1em;
  }
}

@include aliyun-contact-list;