// Let's start with the basics
$include-toolbar-uis: false;
$toolbar-spacing: .6em;
$base-color: #f2f4f5;
$base-gradient: 'matte';

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-carousel;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

@import 'contact-list';
@import 'contact-edit';
@import 'contact-detail';
@import 'contact-add';

//toolbar
@include sencha-toolbar-ui('aliyun', #2d2d2d);

.x-toolbar-title {
  text-align: left;
}